.item {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 24px;
}

.item:not(:first-child) .item__label {
    margin-top: 20px;
}

.item__label {
    color: rgb(61, 61, 61);
}

.item__input {
    padding: 10px;
    margin-top: 10px;
    display: inline-block;
    max-width: 300px;
    font-size: 24px;
    border: 1px solid rgb(61, 61, 61);
    color: rgb(61, 61, 61);
}

@media (max-width:962px) {
    .item {
        font-size: 20px;
    }

    .item:not(:first-child) .item__label {
        margin-top: 10px;
    }

    .item__input {
        padding: 5px;
        margin-top: 5px;
        font-size: 18px;
    }
}

@media (max-width:768px) {
    .item {
        font-size: 18px;
    }

    .item__input {
        padding: 5px;
        font-size: 15px;
    }
}